@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.aboutMe {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #333;
    border-radius: 10px;
    background: rgba(33, 33, 33, 0.9);
    color: white;
    padding: 30px;
}

#about {
    padding-top: 80px; /* Увеличиваем отступ, чтобы учесть высоту navbar */
    margin-top: -80px;  /* Убираем лишний отступ сверху */
}

.hello, .frontend {
    color: white;
}

.zalkarName{
    color: yellowgreen;
}

.zalkarName {
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.frontend {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

/* Стили для фото */
.zalkarFoto {
    width: 300px;
    height: 300px;
    background-image: url('../img/zalkar.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 2px white;
    z-index: 2;
    position: relative;
    margin: 0 auto; /* Центрируем фото */
}

/* Контейнер для обоих столбцов */
.div1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

/* Левый блок */
.col-5 {
    flex: 1;
    min-width: 280px;
}

/* Текст о себе */
.about {
    margin-top: 20px;
}

.nameAbout {
    color: greenyellow;
    font-weight: bold;
}

.learning p {
    margin: 5px 0;
}

.titleLearning {
    color: yellowgreen;
    font-weight: bold;
}

.description {
    overflow: hidden;
    height: 100px; /* начальная высота для скрытого текста */
    transition: height 0.3s ease-out; /* плавное изменение высоты */
}

.description.expanded {
    height: 500px; /* устанавливаем максимальную высоту для развернутого текста, можно подстроить */
}


/* Медиазапросы для мобильных устройств */
@media (max-width: 768px) {
    .aboutMe {
        padding: 20px;
    }

    .zalkarFoto {
        width: 250px;
        height: 250px;
    }

    .zalkarName {
        font-size: 2rem;
    }

    .frontend {
        font-size: 1.2rem;
    }

    .div1 {
        flex-direction: column; /* Меняем расположение на колонку */
        align-items: center;
    }

    .col{
        min-width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .zalkarName {
        font-size: 1.8rem;
    }

    .frontend {
        font-size: 1rem;
    }
}
