@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.aboutMe{
    font-family: 'Montserrat', sans-serif;
    border: solid 1px black;
    border-radius: 10px;
    height: 770px;
    border: solid 1px #333;
    background: #212121; 
    color: white;
    background: rgba(33, 33, 33, 0.9);
}

.hello{
    position: relative;
    left: 100px;
    top: 50px;
}
.zalkarName{
    position: relative;
    left: 100px;
    top: 50px;
    color: greenyellow;
}
.frontend{
    position: relative;
    top: 50px;
    left: 100px;
}
.zalkarFoto{
    width: 300px;
    height: 300px;
    background-image: url('../img/zalkar.jpg');
    background-size: cover;
    border-radius: 150px;
    position: relative;
    left: 770px;
    top: -140px;
    box-shadow: 0px 0px 10px 2px white;
    z-index: 2;
}

.about{
    position: relative;
    left: 100px;
    top: -200px;
}
.nameAbout{
    color: greenyellow;
}

.div1{
    position: relative;
    left: -60px;
}

.learning{
    position: relative;
    top: -520px;
    left: 750px;
}

.titleLearning{
    color: yellowgreen;
}