.projects {
    font-family: 'Montserrat', sans-serif;
    border: solid 1px #333;
    border-radius: 10px;
    background: rgba(33, 33, 33, 0.9);
    color: white;
    padding: 30px;
    margin-top: 20px;
}

.project1 {
    padding: 15px;
}

.landing1 {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.titleProjects {
    color: greenyellow;
}

.projects a {
    text-decoration: none;
    color: yellowgreen;
}

.projects a:hover {
    color: white;
}

.btn1{
    text-decoration: none;
    border: 1px solid white;
    color: white;
}

/* Стили для скрытого текста */
.description {
    max-height: 0; /* Изначально скрыто */
    overflow: hidden; /* Скрываем все, что выходит за пределы */
    transition: max-height 0.5s ease-out; /* Плавный переход */
}

/* Когда текст развернут */
.description.expanded {
    max-height: 300px; /* Устанавливаем максимальную высоту для раскрытого текста */
    overflow: auto;
}
