@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.skills {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #333;
    border-radius: 10px;
    background: rgba(33, 33, 33, 0.9);
    color: white;
    padding: 30px; /* добавим отступы для удобства */
    height: auto;
}

#skills {
    padding-top: 80px; /* Увеличиваем отступ, чтобы учесть высоту navbar */
    margin-top: -80px;  /* Убираем лишний отступ сверху */
}

.titleSkills {
    color: greenyellow;
    position: relative;
    left: 40px;
    margin-bottom: 30px; /* отступ снизу */
}

.div2 {
   padding: 10px;
}

/* Дополнительные стили для адаптивности */
@media (max-width: 768px) {
    .titleSkills {
        font-size: 1.5rem;
        margin-bottom: 20px; /* Уменьшаем отступы на мобильных */
    }

    .skills {
        padding: 20px;
    }

    .div2 {
        padding: 20px;
    }

    #skills {
        padding-top: 230px; /* Увеличиваем отступ, чтобы учесть высоту navbar */
        margin-top: -230px;  /* Убираем лишний отступ сверху */
    }
}

@media (max-width: 480px) {
    .titleSkills {
        font-size: 1.25rem;
    }

    .skills {
        padding: 15px;
    }

    .div2 {
        padding: 15px;
    }
}
